{%  extends "students/base.html" %}

{%  block body %}
    <table class="table table-hover text-center"  >
        <h2 class="m-4 text-center">{{ student.first_name }} {{ student.last_name }}</h2>
        <tbody>

            <tr>
                <td>First Name</td>
                <td>{{ student.first_name }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{ student.last_name }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ student.email }}</td>
            </tr>
            <!-- <tr>
                <td>Field of Study</td>
                <td>{{ student.department }}</td>
            </tr> -->
            <tr>
                <td>Academic Year</td>
                <td>Level : {{ student.academic_year_id }}</td>
            </tr>
            <tr>
                <td>Subject1</td>
                <td>{{academic_year.subject1}}</td>
            </tr>
            <tr>
                <td>Subject2</td>
                <td>{{academic_year.subject2}}</td>
            </tr>
            <tr>
                <td>Subject3</td>
                <td>{{academic_year.subject3}}</td>
            </tr>
            <tr>
                <td>Subject4</td>
                <td>{{academic_year.subject4}}</td>
            </tr>
            <tr>
                <td>Subject5</td>
                <td>{{academic_year.subject5}}</td>
            </tr>
            <tr>
                <td>Subject6</td>
                <td>{{academic_year.subject6}}</td>
            </tr>
            <tr>
                <td>GPA</td>
                <td>{{ student.gpa }}</td>
            </tr>
        </tbody>
    </table>
{%  endblock %}