{%  extends "students/base.html" %}

{%  block body %}
    <table class="table table-hover text-center"  >
        <h2 class="m-4 text-center">{{ subject.sub_name }} </h2>
        <tbody>

            <tr>
                <td>Subject Name</td>
                <td>{{ subject.sub_name }}</td>
            </tr>
            <tr>
                <td>Subject Code</td>
                <td>{{ subject.sub_code }}</td>
            </tr>
            <tr>
                <td>Subject Grade</td>
                <td>{{ subject.sub_grade }}</td>
            </tr>
            <tr>
                <td>Subject Description</td>
                <td>{{ subject.sub_description }}</td>
            </tr>
            <tr>
                <td>Subject Reference</td>
                <td>{{ subject.sub_reference }}</td>
            </tr>
            <tr>
                <td>Teacher</td>
                <td>{{teacher.tech_first_name}} {{teacher.tech_last_name}}</td>
            </tr>

        </tbody>
    </table>
{%  endblock %}