{%  extends "students/base.html" %}

{%  block body %}
<table class="table table-hover" style="max-width: 1000px;"  >
    <h2 class="m-4 text-center">{{ teacher.tech_first_name }} {{ teacher.tech_last_name }}</h2>
        <tbody>
            
            <tr>
                <td>First Name</td>
                <td>{{ teacher.tech_first_name }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{ teacher.tech_last_name }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ teacher.tech_email }}</td>
            </tr>
            <tr>
                <td>Department</td>
                <td>{{ teacher.tech_department }}</td>
            </tr>
            <tr>
                <td>Courses</td>
                <td>
                    <ul class="list-unstyled">                        
                            {% for subject in subjects %}
                                <li>{{subject.sub_name}}</li>
                            {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>{{ teacher.tec_dob }}</td>
            </tr>
        </tbody>
    </table>
{%  endblock %}